// ----------------------------------------------
//  Company（企業情報）
// ----------------------------------------------
.p-company-section {
  border-top: 1px solid #c7c7c7;

  @include pc {
    margin-top: 95px;
    padding-top: 60px;
  }
  @include sp {
    @include vw(margin-top, 110);
    @include vw(padding-top, 90);
  }
  &.r-main-visual {
    position: relative;
    margin-top: 0;
    padding-top: 0;
    border-top: none;
    .p-company-hdg--lv3 {
      @include pc {
        margin-top: 60px;
      }
      @include sp {
        @include vw(margin-top, 108)
      }
    }
  }
}

.p-company-section__block {
  @include pc {
    margin-top: 40px;
  }
  @include sp {
    @include vw(margin-top, 60);
  }
}

.p-company-hdg--lv2 {
  position: relative;
    // TODO：カラー変数にする
    color: #e4002b;
    @include pc {
      margin-top: 58px;
      padding-bottom: 23px;
    }
    @include sp {
      @include vw(margin-top, 80);
      @include vw(padding-bottom, 45);
    }
    .r-en {
      @include pc {
        line-height: 2.177;
        font-size: 14px;
      }
      @include sp {
        line-height: 1.524;
        @include vw(font-size, 20);
      }
    }
    .r-jp {
      line-height: 1;
      @include pc {
        font-size: 32px;
      }
      @include sp {
        display: inline-block;
        @include vw(margin-top, 18);
        @include vw(font-size, 60);
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
        // TODO：カラー変数にする
        background-color: #e4002b;
        @include pc {
          width: 32px;
          height: 2px;
        }
        @include sp {
          @include vw(width, 46);
          @include vw(height, 4);
        }
      }
    }

    .p-company__main-visual {
      position: absolute;
      left: 50%;
      z-index: 1;
      transform: translate(-50%, 0);
      @include pc {
        top: 137px;
        margin-left: 375px;
      }
      @include sp {
        @include vw(top, 166);
        @include vw(width, 919);
        @include vw(margin-left, 270);
      }
      &.r-company {
        @include pc {
          top: 100px;
          margin-left: 360px;
        }
        @include sp {
          @include vw(top, 135);
          @include vw(width, 774);
          @include vw(margin-left, 270);
        }
      }
    }

// Message（トップメッセージ）
//--------------------------
.p-message__president-pic {
  @include pc {
    position: relative;
  }
  @include sp {
    @include vw(margin-bottom, 75);
  }
  &__img {
    @include sp {
      width: 100%;
    }
    @include sp {
      @include vw(margin-bottom, 40);
    }
  }
  &__txt {
    @include pc {
      position: absolute;
      top: 48px;
      left: 42px;
      z-index: 1;
      line-height: 2.026;
      letter-spacing: .1em;
      font-size: 18px;
    }
    @include sp {
      line-height: 1.765;
      @include vw(font-size, 34);
    }
  }
  &__sign {
    display: block;
    @include pc {
      margin-top: 20px;
      font-size: 14px;
      img {
        display: block;
      }
    }
    @include sp {
      @include vw(margin-top, 30);
      @include font-vw(26);
    }
  }
}

.p-message__president-sign {
  text-align: right;
  @include pc {
    padding-top: 10px;
  }
  @include sp {
    @include vw(padding-top, 30);
  }
  &__img {
    @include pc {
      @include vw(padding-top, 5);
    }
    @include sp {
      @include vw(width, 248);
      @include vw(padding-top, 16);
    }
  }
}

// Group（事業所・グループ会社）
//--------------------------
.p-group {
  &__hasIcon {
    position: relative;
    &--icon {
      @include pc {
        right: 20px;
        top: 0;
      }
      @include sp {
        @include vw(margin-left, 40);
      }
      &.r-type01 {
        @include pc {
          position: absolute;
          top: 15px;
        }
        @include sp {
          @include vw(margin-left, 40);
        }
      }
      &.r-type02 {
        position: absolute;
        @include pc {
          top: 10px;
        }
        @include sp {
          @include vw(right, 20);
          @include vw(top, 15);
          @include vw(margin-left, 40);
        }
      }
    }
  }
}


// Message（トップメッセージ）
//--------------------------
.p-company-msg__president {
  position: relative;

  .p-company-msg__president__txt {
    font-weight: bold;

    @include pc {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      padding-left: 40px;
      line-height: $lh-m;

      // TODO： font-margin（or padding）を変数対応
      @include font-padding(18, 18 * $lh-m, 50);
    }

    @include sp {
      line-height: $lh-s;

      // TODO： font-margin（or padding）を変数対応
      @include font-margin-with-tb(34, 34 * $lh-s, 0);
    }
  }

  .p-company-msg__president__sign {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    line-height: $lh-s;

    @include pc {
      padding-bottom: 50px;
      padding-left: 40px;
      font-size: $fs-s-pc;
    }

    @include sp {
      @include vw(padding-bottom, 205);
      @include vw(padding-left, 42);
      font-size: $fs-s-sp;
    }

    .p-company-msg__president__sign__img {
      @include pc {
        width: 119px;
        height: 40px;
        margin-top: 5px;
        margin-left: -3px;
      }

      @include sp {
        @include vw(width, 226);
        @include vw(height, 75);
        @include vw(margin-top, 30);
        @include vw(margin-left, -6);
      }
    }
  }

  .p-company-msg__president__img {
    @include sp {
      // TODO： margin変数（関数？）に変更する
      @include vw(margin-top, 60);
    }
  }
}

// Philosophy（理念）
//--------------------------
[class^="p-company-philosophy__copy"] {
  @include pc {
    margin-top: 50px;
  }

  @include sp {
    max-width: 100%;
    @include vw(margin-top, 80);
  }
}

.p-company-philosophy__copy01 {
  @include sp {
    @include vw(width, 463);
  }
}

.p-company-philosophy__copy02 {
  @include sp {
    @include vw(width, 449);
  }
}

.p-company-philosophy__copy03 {
  @include sp {
    @include vw(width, 662);
  }
}

.p-company-philosophy__copy04 {
  @include pc {
    margin-bottom: 20px;
  }

  @include sp {
    @include vw(width, 553);
    @include vw(margin-bottom, 15);
  }
}




































