// ----------------------------------------------
//  CSR
// ----------------------------------------------

// CSR 表示への取り組み下層
.p-csr__label__wrapper {
  @include pc {
    &::after {
      content: '';
      clear: both;
      display: block;
    }
  }
}

.p-csr__label__block {
  display: flex;
  flex-wrap: wrap;

  @include pc {
    width: 373px;
    float: left;

    &:nth-child(2) {
      margin-left: 25px;
    }
  }

  @include sp {
    @include vw(margin-top, 130);

    &:first-child {
      margin-top: 0;
    }
  }

  &__ttl {
    width: 100%;
    text-align: center;
    line-height: 1.25;
    border-bottom: 1px solid #ccc;

    @include pc {
      margin-bottom: 35px;
      padding-bottom: 16px;
      font-size: 16px;
    }

    @include sp {
      @include vw(margin-bottom, 52);
      @include vw(padding-bottom, 34);
      @include vw(font-size, 30);
    }
  }
}

.p-csr__label__block.r-type01 {
  .p-csr__label__box {
    width: 100%;
  }

  .p-csr__label__box + .p-csr__label__box {
    margin-top: 65px;
  }
}

.p-csr__label__block.r-type02 {
  .p-csr__label__box {
    width: 100%;

    position: relative;

    @include pc {
      width: 174px;

      &:nth-of-type(2) {
        margin-left: 25px;
      }
    }

    @include sp {
      @include vw(width, 312);

      &:nth-of-type(2) {
        @include vw(margin-left, 45);
      }
    }
  }
}

.p-csr__label__content {
  position: relative;

  &::after {
    content: '';
    clear: both;
    display: block;
  }

  &.r-2col {
    .p-csr__label__content__item {
      &:nth-child(1) {
        float: left;
      }
      &:nth-child(2) {
        float: right;
      }
    }

    &.r-type01 {
      .p-csr__label__content__item {
        @include pc {
          width: 174px;
        }
        @include sp {
          @include vw(width, 312);
        }
      }
    }

    &.r-type02 {
      .p-csr__label__content__item {
        &:nth-of-type(1) {
          @include pc {
            width: 253px;
          }
          @include sp {
            @include vw(width, 456);
          }
        }
        &:nth-of-type(2) {
          @include pc {
            width: 100px;
          }
          @include sp {
            @include vw(width, 181);
          }
        }
      }
    }
  }
}

.p-csr__label__content__item {
  position: relative;

  @include pc {
    margin-bottom: 30px;
  }

  @include sp {
    @include vw(margin-bottom, 70);
  }

  &.r-0line {
    padding-top: 0;
  }

  &.r-1line {
    @include pc {
      padding-top: 30px;
    }
    @include sp {
      @include vw(padding-top, 52);
    }
  }

  &.r-2line {
    @include pc {
      padding-top: 50px;
    }
    @include sp {
      @include vw(padding-top, 92);
    }
  }

  &__ttl {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: left;
    line-height: 1.25;

    @include pc {
      font-size: 15px;
    }

    @include sp {
      @include vw(font-size, 30);
    }
  }

  &.r-absolute {
    position: absolute;
  }
}

.p-csr__label__box {
  text-align: center;
}

// ↓↓↓マヨネーズの表示の見方：固定値
.r-mayonnaise {
  .p-csr__label__content__item {
    // 商品写真
    &.r-product {
      @include sp {
        margin: 0 auto;
        @include vw(width, 614);
      }
    }

    &.r-jas {
      @include pc {
        width: 80px !important;
      }

      @include sp {
        @include vw(width, 150, !important);
        letter-spacing: 0;
      }
    }

    &.r-fairness {
      bottom: 0;
      left: 0;

      @include pc {
        width: 80px !important;
      }

      @include sp {
        @include vw(width, 150, !important);
        letter-spacing: 0;
      }
    }

    &.r-bell {
      @include pc {
        width: 80px !important;
      }

      @include sp {
        @include vw(width, 150, !important);
        letter-spacing: 0;
      }
    }
  }
}

// ↓↓↓ベビーフードの表示の見方：固定値
.r-baby-food {
  .p-csr__label__content__item {
    // 商品写真
    &.r-product {
      @include sp {
        margin: 0 auto;
        @include vw(width, 412);
      }
    }
    // アレルゲンアイコン
    &.r-allergy {
      bottom: 0;
    }
    // 賞味期限
    &.r-sell-by {
      float: right;

      @include pc {
        width: 100px !important;
      }
      @include sp {
        @include vw(width, 181, !important);
      }
    }
    // 材質表示
    &.r-material-display {
      @include pc {
        width: 78px !important;
      }
      @include sp {
        @include vw(width, 136, !important);
      }
    }
    // レトルトパウチ食品
    &.r-retort-pouch {
      @include pc {
        width: 176px !important;
      }
    }
    // 乳児用規格適用食品
    &.r-infant-formula {
      bottom: 0;
    }
  }
}

// ↓↓↓ドレッシングの表示の見方：固定値
.r-dressing {
  .p-csr__label__content__item {
    // 商品写真
    &.r-product {
      @include sp {
        margin: 0 auto;
        @include vw(width, 187);
      }
    }
    // 栄養成分表示
    &.r-nutrition {
      @include pc {
        width: 100px !important;
      }
      @include sp {
        @include vw(width, 190, !important);
      }
    }
    // バーコード
    &.r-barcode {
      @include pc {
        width: 53px !important;
      }
      @include sp {
        @include sp {
          @include vw(width, 95, !important);
        }
      }
    }
    // ドレッシングの振り方
    &.r-shake-dressing {
      @include pc {
        width: 100px !important;
      }

      @include sp {
        @include vw(width, 190, !important);
      }
    }
    // 賞味期限
    &.r-sell-by {
      @include pc {
        width: 100px !important;
      }
      @include sp {
        @include vw(width, 190, !important);
      }
    }
    // その他お伝えしたいこと
    &.r-transmission-matters {
      bottom: 0;

      @include pc {
        width: 100px !important;
      }

      @include sp {
        @include vw(width, 190, !important);
      }
    }
    // 材質表示
    &.r-material-display {
      @include pc {
        width: 52px !important;
      }
      @include sp {
        @include vw(width, 93, !important);
      }
    }
  }
}


// CSR表示のモーダル
// TODO： モーダル周りコンポーネント化するか？
.p-csr-modal__link {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
  cursor: pointer;

  @include pc {
    transition: opacity .2s;
    &:hover,
    &:active,
    &:focus {
      @include pc {
        opacity: .7;
      }
    }
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
  }

  &::before {
    background-color: #e40015;

    @include pc {
      width: 15px;
      height: 1px;
      bottom: 23px;
      right: 16px;
    }

    @include sp {
      @include vw(bottom, 47);
      @include vw(right, 34);
      @include vw(width, 30);
      height: 1px;
    }
  }

  &::after {
    background-color: #e40015;

    @include pc {
      width: 1px;
      height: 15px;
      bottom: 16px;
      right: 23px;
    }

    @include sp {
      @include vw(bottom, 33);
      @include vw(right, 48);
      width: 1px;
      @include vw(height, 30);
    }
  }
}

.p-csr-modal__link__inner {
  display: block;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 2;
    border: 1px solid #e40015;
    border-radius: 50%;

    @include pc {
      width: 37px;
      height: 37px;
      bottom: 5px;
      right: 5px;
    }

    @include sp {
      @include vw(bottom, 10);
      @include vw(right, 10);
      @include vw(width, 74);
      @include vw(height, 74);
    }
  }
}
