// シミュレータ結果表示部分
.p-education-info-decision-result {
    border: solid 1px #ed5773;

    @include pc {
        width: 100%;
        padding: 35px 25px;
    }

    @include sp {
        @include vw(margin-top, 110);
        @include vw(padding-top, 50);
        @include vw(padding-right, 40);
        @include vw(padding-bottom, 50);
        @include vw(padding-left, 40);
    }

    &__hdg {
        text-align: center;

        @include pc {
          font-size: 16px;
        }

        @include sp {
          line-height: 200%;
          @include font-vw(24);
        }
    }

    &__caption {
      text-align: center;
      font-weight: bold;
      @include pc{
        font-size: 18px;
      }
      @include sp{
        @include font-vw(30);
      }
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {

        @include pc {
            width: 350px;
            margin-top: 40px;
            margin-bottom: 15px;

            &:nth-of-type(even) {
                margin-left: 20px;
            }

            &:nth-last-of-type(1) {
                margin-bottom: 35px;
            }
        }

        @include sp {
            width: 100%;
            @include vw(margin-top, 57);

            &:nth-last-of-type(1) {
                margin-bottom: 50px;
            }
        }

        &__name {
            color: white;
            text-align: center;
            background-color: #e4002b;

            @include pc {
                border-radius: 15px;
                line-height: 34px;
                font-size: 14px;
            }

            @include sp {
                @include vw(border-radius, 25);
                @include vw(line-height, 60);
                @include vw(font-size, 24);
            }
        }

        &__value {
            text-align: center;
            line-height: 100%;
            @include pc {
                font-size: 18px;
                margin-top: 30px;
            }

            @include sp {
                @include vw(font-size, 30);
                @include vw(margin-top, 35);
            }
        }

    }

    &__note {
        line-height: 200%;
        position: relative;

        &::before {
            content: "※";
            position: absolute;
            left: 0px;
        }

        @include pc {
            clear: both;
            font-size: 12px;
            padding-left: 15px;
        }

        @include sp {
            @include vw(font-size, 22);
            @include vw(padding-left, 25);
        }
    }

}
