// ----------------------------------------------
//  TOP（トップページ）
// ----------------------------------------------

// TODO： 全体的にコンポーネントにするかどうか考える
// opening
.top-key-visual {
  position: relative;

  @include sp {
    @include vw(min-height, 900);
  }
}

.top-opening {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;

  &__spacer {
    width: 100%;
  }

  &__catch {
    position: absolute;
    top: 50%;
    left: 50%;
    // opacity: 0;
    transform: translate(-50%, -50%);
    // transition: opacity 1s ease;

    @include pc {
      width: 160px;
      height: 18px;
      margin-top: -30px;
      margin-left: -2px;
    }

    @include sp {
      @include vw(width, 274);
      @include vw(margin-top, -70);
      @include vw(margin-left, -12);
    }

    &__01,
    &__02,
    &__03,
    &__04,
    &__05,
    &__06,
    &__07,
    &__08 {
      display: block;
      opacity: 1;
      height: 100%;
      float: left;
      // transition: opacity 1s ease, left .4s ease 1s;
      backface-visibility: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      transform: scaleX(0);
      transition: transform .8s ease;

      @include pc {
      }

      @include sp {
        @include vw(height, 29);
      }

      img {
        vertical-align: top;
      }
    }

    &__01 {
      @include pc {
        width: 18px;
        margin-right: 6px;
      }
      @include sp {
        @include vw(width, 28);
        @include vw(margin-right, 10);
      }
    }
    &__02 {
      @include pc {
        width: 16px;
        margin-right: 4px;
      }
      @include sp {
        @include vw(width, 26);
        @include vw(margin-right, 10);
      }
    }
    &__03 {
      @include pc {
        width: 19px;
        margin-right: 3px;
      }
      @include sp {
        @include vw(width, 30);
        @include vw(margin-right, 7);
      }
    }
    &__04 {
      @include pc {
        width: 18px;
        margin-right: 6px;
      }
      @include sp {
        @include vw(width, 30);
        @include vw(margin-right, 10);
      }
    }
    &__05 {
      @include pc {
        width: 16px;
        margin-right: 5px;
      }
      @include sp {
        @include vw(width, 26);
        @include vw(margin-right, 10);
      }
    }
    &__06 {
      @include pc {
        width: 17px;
        margin-right: 5px;
      }
      @include sp {
        @include vw(width, 27);
        @include vw(margin-right, 10);
      }
    }
    &__07 {
      @include pc {
        width: 16px;
        margin-right: 4px;
      }
      @include sp {
        @include vw(width, 26);
        @include vw(margin-right, 10);
      }
    }
    &__08 {
      @include pc {
        width: 6px;
      }
      @include sp {
        @include vw(width, 10);
      }
    }

    &.is-on {
      // opacity: 1;

      .top-opening__catch__01,
      .top-opening__catch__02,
      .top-opening__catch__03,
      .top-opening__catch__04,
      .top-opening__catch__05,
      .top-opening__catch__06,
      .top-opening__catch__07,
      .top-opening__catch__08 {
        transform: scaleX(1);
      }

      // .top-opening__catch__01 {
      //   transition: opacity .6s ease, left .7s ease;
      // }
      // .top-opening__catch__02 {
      //   transition: opacity .6s ease .1s, left .7s ease .1s;
      // }
      // .top-opening__catch__03 {
      //   transition: opacity .6s ease .2s, left .7s ease .2s;
      // }
      // .top-opening__catch__04 {
      //   transition: opacity .6s ease .3s, left .7s ease .3s;
      // }
      // .top-opening__catch__05 {
      //   transition: opacity .6s ease .4s, left .7s ease .4s;
      // }
      // .top-opening__catch__06 {
      //   transition: opacity .6s ease .5s, left .7s ease .5s;
      // }
      // .top-opening__catch__07 {
      //   transition: opacity .6s ease .6s, left .7s ease .6s;
      // }
      // .top-opening__catch__08 {
      //   transition: opacity .6s ease .7s, left .7s ease .7s;
      // }
    }
  }

  &__logo {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    opacity: 1;

    @include pc {
      width: 261px;
      margin-top: -14px;
      margin-left: -124px;
      // 基準値
      // margin-top: -37.5px;
      // margin-left: -130.5px;
    }

    @include sp {
      @include vw(width, 448);
      @include vw(margin-top, 20);
      transform: translate(-50%, -50%);
    }

    &.is-on {
      opacity: 1;
    }
  }

  &__txt {
    display: none;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    width: 100%;
    color: #e40015;
    text-align: center;
    transform: translate(-50%, -50%);

    img {
      @include sp {
        width: 86%;
      }
    }
  }
}

// slider
.top-slider {
  position: relative;

  &__content {
    opacity: 0;
    transition: opacity 1s ease;

    &.is-on {
      opacity: 1;
    }
  }

  &__item__img {
    width: 100%;
  }

  .c-slider__arrow {
    @include pc {
      top: inherit;
      bottom: 18px;
      left: 50%;
      transform: translate(-50%, 0);
    }

    @include sp {
      top: 50%;
      transform: translate(0, -50%);
    }

    &.r-prev {
      @include pc {
        margin-left: 452px;
      }

      @include sp {
        @include vw(left, 15);
      }
    }

    &.r-next {
      @include pc {
        margin-left: 496px;
      }

      @include sp {
        @include vw(right, 15);
      }
    }
  }

  .c-slider__arrow-separator {
    @include pc {
      top: inherit;
      right: inherit;
      bottom: 18px;
      left: 50%;
      margin-left: 474px;
      transform: translate(-50%, 0);
    }

    @include sp {
      display: none;
    }
  }

  .c-slider__indicator {
    @include pc {
      top: inherit;
      bottom: 18px;
      left: 50%;
      margin-left: 386px;
      transform: translate(-50%, 0);
    }

    @include sp {
      top: inherit;
      @include vw(bottom, 28);
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  li {
    @include sp {
      @include vw(width, 52);
    }
  }

  .top-scroll {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);

    @include pc {
      bottom: 20px;
    }

    @include sp {
      @include vw(bottom, 90);
    }

    &__btn {
      @include pc {
        width: 43px;
        height: 30px;
      }

      @include sp {
        @include vw(width, 87);
        @include vw(height, 63);
      }
    }
  }
}

// TOPICS
.top-topics {
  display: flex;
  flex-wrap: wrap;
  background-color: #f5f5f5;

  @include pc {
    font-size: 12px;
  }

  @include sp {
    line-height: 1.65;
    @include vw(font-size, 20);
  }

  &__ttl {
    // TODO： あとでカラー変数いれる
    color: #fff;
    // TODO： あとでカラー変数いれる
    background-color: #e40015;

    @include pc {
      width: 27.5%;
      padding: 14px 80px 14px 80px;
      text-align: right;
    }

    @include sp {
      width: 19%;
      @include vw(padding-top, 24);
      @include vw(padding-bottom, 24);
      @include vw(padding-left, 20);
    }
  }

  &__topic {
    padding: 14px 25px;

    @include pc {
      width: 72.5%;
    }

    @include sp {
      width: 81%;
      @include vw(padding-top, 24);
      @include vw(padding-right, 20);
      @include vw(padding-bottom, 24);
      @include vw(padding-left, 20);
    }
  }
}


// section（セクション）
.top-section {
  position: relative;

  .p-education-hdg--lv2 {
    margin-top: 0;
  }

  .top-section__bg {
    position: absolute;
    z-index: -1;
  }

  &.r-about-us {
    @include pc {
      margin-top: 45px;
    }

    @include sp {
      @include vw(margin-top, 162);
    }

    .top-section__bg {
      @include pc {
        top: -45px;
        right: -220px;
      }

      @include sp {
        max-width: 679px;
        @include vw(top, -120);
        @include vw(right, -250);
        @include vw(width, 679);
        height: auto;
      }
    }
  }

  &.r-group-business {
    @include pc {
      margin-top: 88px;
      padding-left: 264px;
    }

    @include sp {
      @include vw(margin-top, 274);
    }

    .top-section__bg {
      @include pc {
        top: -205px;
        left: -250px;
      }

      @include sp {
        max-width: 752px;
        @include vw(top, -310);
        @include vw(left, -210);
        @include vw(width, 752);
        height: auto;
      }
    }

    .p-education-hdg--lv2 {
      @include sp {
        text-align: right;

        &::after {
          left: inherit;
          right: 0;
        }
      }
    }

    .top-section__message {
      @include sp {
        @include vw(margin-left, 180);
      }
    }

    .top-section__more-detail {
      @include sp {
        text-align: right;
      }
    }
  }

  &.r-dietary-education {
    @include pc {
      margin-top: 88px;
    }

    @include sp {
      @include vw(margin-top, 160);
    }

    .top-section__bg {
      @include pc {
        top: -20px;
        right: -310px;
      }

      @include sp {
        max-width: 687px;
        @include vw(top, -110);
        @include vw(right, -306);
        @include vw(width, 687);
        height: auto;
      }
    }
  }

  &.r-sustainability {
    @include pc {
      margin-top: 88px;
      padding-left: 264px;
    }

    @include sp {
      @include vw(margin-top, 170);
    }

    .p-education-hdg--lv2 {
      @include sp {
        text-align: right;

        &::after {
          left: inherit;
          right: 0;
        }
      }
    }

    .top-section__message {
      @include sp {
        @include vw(margin-left, 180);
      }
    }

    .top-section__more-detail {
      @include sp {
        text-align: right;
      }
    }
    .top-section__bg {
      @include pc {
        top: -10px;
        left: -300px;
      }

      @include sp {
        max-width: 532px;
        @include vw(top, -130);
        @include vw(left, -245);
        @include vw(width, 532);
        height: auto;
      }
    }
  }

  &.r-research-development {
    @include pc {
      margin-top: 132px;
    }

    @include sp {
      @include vw(margin-top, 160);
    }

    .top-section__bg {
      @include pc {
        top: -65px;
        right: -210px;
      }

      @include sp {
        max-width: 477px;
        @include vw(top, -110);
        @include vw(right, -135);
        @include vw(width, 477);
        height: auto;
      }
    }
  }

  &.r-history-and-future {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/img/index/top_history-and-future_bg.jpg);

    @include pc {
      margin-top: 216px;
      padding: 130px 0 124px;
      text-align: center;
    }

    @include sp {
      @include vw(margin-top, 150);
      @include vw(padding-top, 176);
      @include vw(padding-bottom, 134);
    }

    .top-history-and-future__ttl {
      @include pc {
        width: 450px;
        margin: 0 auto;
      }

      @include sp {
        @include vw(width, 530);
        margin: 0 auto;
      }

      // TODO： クラス名あとで考える
      img {
        width: 100%;
      }
    }

    .c-btn-list {
      @include sp {
        @include vw(width, 500);
        @include vw(margin-top, 55);
        margin-right: auto;
        margin-left: auto;
      }

      .c-btn-list__item {
        @include sp {
          margin: 0;
        }
      }

    }
  }

  &.r-ir-and-careers {
    @include pc {
      margin-top: 100px;
    }
  }

  &.r-news {
    @include pc {
      margin-top: 92px;
    }

    @include sp {
      @include vw(margin-top, 180);
    }

    .c-btn-list {
      @include sp {
        @include vw(margin-top, 50);
      }

      &__item {
        @include sp {
          margin: 0;
        }
      }
    }
  }
}

.top-section__message {
  @include pc {
    width: 580px;
    margin-top: 22px;
    line-height: 2;
  }

  @include sp {
    @include vw(width, 490);
    @include vw(margin-top, 50);
  }
}

.top-section__more-detail {
  @include sp {
    @include vw(margin-top, 26);
  }
}

.top-section__more-detail__link {
  position: relative;
  // TODO： あとでカラー変数入れる
  color: #e40015;

  @include pc {
    display: inline-block;
    width: 118px;
    margin-top: 8px;
    transition: width .25s ease;
  }

  @include sp {
    @include vw(padding-right, 30);
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
  }

  &::before {
    top: 50%;
    right: 0;
    height: 1px;
    background-color: #e4002b;
    transform: traslate(0, -50%);

    @include pc {
      width: 11px;
    }

    @include sp {
      @include vw(width, 19);
    }
  }

  &::after {
    right: 1px;
    border-right: 1px solid #e4002b;
    border-bottom: 1px solid #e4002b;
    transform: rotate(-45deg);

    @include pc {
      top: 11px;
      width: 7px;
      height: 7px;
    }

    @include sp {
      @include vw(top, 13);
      @include vw(width, 13);
      @include vw(height, 13);
    }
  }

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;

    @include pc {
      width: 126px;
    }
  }
}

.top-section__card-list {
  @include pc {
    display: flex;
    flex-wrap: wrap;
    width: 774px;
    margin-top: 42px;
  }

  @include sp {
    width: 100%;
    @include vw(margin-top, 48);
  }

  &__item {
    @include pc {
      width: 242px;
      margin-top: 24px;
      margin-right: 24px;
    }

    @include sp {
      @include vw(margin-top, 20);
    }

    &:nth-of-type(1) {
      @include sp {
        margin-top: 0;
      }
    }

    &:nth-of-type(3n) {
      @include pc {
        margin-right: 0;
      }
    }

    &:nth-of-type(-n + 3 ) {
      @include pc {
        margin-top: 0;
      }
    }

    &__link {
      display: flex;
      flex-wrap: wrap;
      position: relative;

      &:hover,
      &:active,
      &:focus {
        @include pc {
          .top-section__card-list__item__txt__wrap {
            width: 162px;

            &::before,
            &::after {
              right: 20px;
              opacity: 1;
            }
          }

          .top-section__card-list__item__txt {
            // TOOD：あとでカラー変数いれる
            color: #e40015;
          }
        }
      }
    }

    &__img__wrap {
      position: relative;
      z-index: 1;

      @include pc {
        width: 100px;
        height: 100px;
      }

      @include sp {
        @include vw(width, 140);
        @include vw(height, 140);
      }

      // TODO： クラス名考える
      img {
        width: 100%;
      }
    }

    &__txt__wrap {
      position: absolute;
      right: 0;
      height: 100px;

      @include pc {
        z-index: 2;
        width: 142px;
        background-color: rgb(241, 241, 241);
        transition: width .2s ease;
      }

      @include sp {
        z-index: 0;
        width: 100%;
        @include vw(height, 140);
        @include vw(padding-left, 166);
        background-color: rgba(241, 241, 241, .7);
      }

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        z-index: 1;
        transform: traslate(0, -50%);

        @include pc {
          right: 30px;
          opacity: 0;
          transition: opacity .25s ease, right .25s ease;
        }

        @include sp {
          @include vw(right, 50);
        }
      }

      &::before {
        background-color: #e4002b;
        height: 1px;

        @include pc {
          width: 11px;
        }

        @include sp {
          @include vw(width, 20);
        }
      }

      &::after {
        border-right: 1px solid #e4002b;
        border-bottom: 1px solid #e4002b;
        transform: rotate(-45deg);

        @include pc {
          margin-top: -3px;
          width: 7px;
          height: 7px;
        }

        @include sp {
          @include vw(margin-top, -6);
          @include vw(width, 14);
          @include vw(height, 14);
        }
      }
    }

    &__txt {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);

      @include pc {
        left: 18px;
        line-height: 1.571;
        transition: color .2s ease;
      }
    }
  }
}

// TODO： リファクタ必要あり（コンポーネントにするかどうか）
.top-panel-list {
  @include pc {
    display: flex;
    flex-wrap: wrap;
  }

  @include sp {
    @include vw(margin-top, 50);
  }

  &__item {
    position: relative;
    z-index: 1;

    @include pc {
      width: calc((100% - 8px) / 2);
      margin-right: 8px;

      &:nth-of-type(2) {
        margin-right: 0;
      }
    }

    @include sp {
      @include vw(margin-top, 50);

      &:nth-of-type(1) {
        margin-top: 0;
      }
    }
  }

  &__item__link {
    display: block;
    position: relative;
    z-index: 1;
    overflow: hidden;

    @include pc {
      &:hover,
      &:active,
      &:focus {
        .top-panel-list__item__img {
          @include pc {
            transform: scale(1.15) translate(-1%);
          }
        }
      }
    }

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
    }

    &::before {
      border-right: 1px solid #e40015;
      border-bottom: 1px solid #e40015;
      transform: rotate(-45deg);

      @include pc {
        width: 7px;
        height: 7px;
        bottom: 45px;
        left: 65px;
      }

      @include sp {
        @include vw(bottom, 72);
        @include vw(left, 61);
        @include vw(width, 11);
        @include vw(height, 11);
      }
    }

    &::after {
      height: 1px;
      // TODO： あとでカラー変数いれる
      background-color: #e40015;

      @include pc {
        width: 12px;
        bottom: 48px;
        left: 60px;
      }

      @include sp {
        @include vw(bottom, 77);
        @include vw(left, 57);
        @include vw(width, 18);
      }
    }
  }

  &__item__link__inner {
    display: block;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 2;
      border: 1px solid #e40015;
      border-radius: 50%;

      @include pc {
        bottom: 30px;
        left: 48px;
        width: 37px;
        height: 37px;
      }

      @include sp {
        @include vw(bottom, 52);
        @include vw(left, 40);
        @include vw(width, 50);
        @include vw(height, 50);
      }
    }
  }

  &__item__ttl {
    position: absolute;
    z-index: 1;
    color: #e4002b;

    @include pc {
      top: 42px;
      left: 48px;
    }

    @include sp {
      @include vw(top, 96);
      @include vw(left, 40);
    }

    .r-en {
      @include pc {
        line-height: 2.177;
        font-size: 11px;
      }

      @include sp {
        line-height: 1.363;
        @include vw(font-size, 20);
      }
    }

    .r-jp {
      @include pc {
        font-size: 24px;
      }

      @include sp {
        display: inline-block;
        @include vw(margin-top, 12);
        @include vw(font-size, 40);
      }
    }
  }

  &__item__img {
    width: 100%;
    height: auto;

    @include pc {
      transition: transform .4s ease;
    }
  }
}

.top-section.r-news {
  .top-news-emergency {
    border: 1px solid #c7c7c7;

    @include pc {
      margin-top: 42px;
      padding: 28px 50px;
    }

    @include sp {
      @include vw(margin-top, 50);
      @include vw(padding-top, 35);
      @include vw(padding-right, 30);
      @include vw(padding-bottom, 35);
      @include vw(padding-left, 30);
    }
  }

  .top-news-emergency__list {
    &__item {
      border-top: 1px solid #c7c7c7;

      @include pc {
        margin-top: 12px;
        padding-top: 5px;
      }

      @include sp {
        @include vw(margin-top, 10);
        @include vw(padding-top, 8);
      }

      &:first-child {
        margin-top: 0;
        padding-top: 0;
        border-top: none;
      }

      .c-txt-link {
        margin-top: 0;

        @include sp {
          @include vw(font-size, 26);
        }
      }
    }
  }
}

// TODO： リファクタリング card-listじゃなくなった
.top-news-card-list {
  @include pc {
    margin: 35px auto 0;
  }

  @include sp {
    @include vw(margin-top, 16);
  }

  &__item {
    position: relative;
    width: 100%;

    @include pc {
      border-top: 1px solid #dcdcdc;

      &:nth-of-type(1) {
        border-top: none;
      }
    }

    @include sp {
      width: 100%;
      // TODO： あとでカラー変数入れる
      border-top: 1px solid #dcdcdc;

      &:nth-of-type(1) {
        border-top: none;
      }
    }

    &__link {
      position: relative;

      @include pc {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        padding: 15px 0 15px 110px;
        transition: color .4s ease;
      }

      @include sp {
        display: block;
        @include vw(padding-top, 30);
        @include vw(padding-bottom, 30);
      }
    }

    &__thumb {
      @include pc {
        overflow: hidden;
      }

      @include sp {
        @include vw(width, 170);
        @include vw(margin-right, 30);
        float: left;
      }
    }

    &__thumb__img {
      width: 100%;
    }

    &__ttl {
      @include pc {
        width: 825px;
        line-height: 1.571;
      }

      @include sp {
        @include vw(margin-top, 20);
      }
    }

    &__date {
      @include pc {
        width: 105px;
        line-height: 1.571;
      }

      @include sp {
        @include vw(padding-left, 138);
        line-height: 1;
      }
    }

    &__link {
      @include pc {
        &:hover {
          color: #e40015;
          text-decoration: none;
        }
      }
    }

    &__label {
      display: inline-block;
      position: absolute;
      border-style: solid;
      border-width: 1px;
      left: 0;

      @include pc {
        top: 16px;
        height: 19px;
        padding: 0 10px;
        line-height: 16px;
        font-size: 14px;
        border-radius: 10px;
      }

      @include sp {
        @include vw(top, 28);
        @include vw(height, 32);
        @include vw(padding-right, 10);
        @include vw(padding-left, 10);
        @include vw(line-height, 30);
        @include vw(font-size, 20);
        @include vw(border-radius, 15);
      }
    }

    // TODO： 直接じゃなくてテキストもbefore要素などで対応する？
    &.r-research-development {
      .top-news-card-list__item__label {
        // TODO： あとでカラー変数あてる
        color: #00b7ee;
        border-color: #00b7ee;
      }
    }

    &.r-new {
      .top-news-card-list__item__label {
        // TODO： あとでカラー変数あてる
        color: #fff;
        text-align: center;
        border-color: #e30014;
        background-color: #e30014;

        @include pc {
          width: 78px;
        }

        @include sp {
          @include vw(width, 107);
        }
      }
    }
  }
}










