doctype html
html
  head
    meta(charset='utf-8')
    title Vue TEST
    // Vue.js を読み込む
    script(src='https://cdn.jsdelivr.net/npm/vue')
  body
    style.
      #app-2 .error {
      color: red;
      }
    #app-2
      input(type='text', v-model='message')
      .error(v-if='error.require') 必須項目です。
      .error(v-if='error.tooLong') 長すぎます。
    script.
      var app2 = new Vue({
        el: '#app-2',
        watch: { // テキストフォームに文字が入力されるかをwatch
          message: function (newVal, oldVal) { // 文字が入力されると、入力される前後の文字列を引数に入れる
            this.error.require = (newVal.length < 1) ? true : false;　 // 文字列が1文字に満たない場合のエラー
            this.error.tooLong = (newVal.length > 5) ? true : false; // 文字列が6文字以上の場合のエラー
          }
        },
        data: {
          message: 'こんにちは',
          error: {
            require: false,
            tooLong: false
          }
        }
      })
