doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Vue.jsのテスト
    script(src='https://cdn.jsdelivr.net/npm/vue')
  body
    #app
      div(v-text='message', @click='replace')
    script.
      // 参考サイト　http://blog.aire-project.com/articles/344
      var flg = false;
      var app101 = new Vue({
        el: '#app',
        data: {
          message: 'おっぱい'
        },
        methods: {
          replace: function () {
            if (flg == false) {
              app101.message = "いっぱい";
              flg = true;
            } else {
              app101.message = "おっぱい";
              flg = false;
            }
          }
        }
      })
