.l-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include pc {
    width: 1080px;
    padding-right: 20px;
    padding-left: 20px;
  }

  &__content {
    @include sp {
      @include vw(padding-right, 40);
      @include vw(padding-left, 40);
    }
  }

  // l-main 1column
  &.r-type01 {}

  // l-main 2column
  &.r-type02 {
    @include pc {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row-reverse;
    }

    @include sp {
      @include vw(margin-top, 95);
    }

    .l-main__content {
      @include pc {
        order: 1;
        width: 774px;
        margin-left: 24px;
      }

      @include sp {
        .is-cojp & {
          @include vw(margin-bottom, 100);
        }
      }
      &--secondary {
        @include pc {
          order: 3;
          width: 300%;
          margin-top: 80px;
          margin-left: calc(((100vw - 100%) / 2) * -1);
          margin-right: calc(((100vw - 100%) / 2) * -1);
        }
        @include sp{
          @include vw(margin-bottom, 150);
          @include vw(padding-right, 40);
          @include vw(padding-left, 40);
        }
      }
    }

    .l-main__subcontent {
      @include pc {
        order: 2;
        width: 242px;
      }

      @include sp {
        @include vw(margin-top, 150);
      }

      &__ttl {
        line-height: $lh-xs;

        @include pc {
          padding-bottom: 20px;

          // TODO： font-margin（or padding）を変数対応
          @include font-margin-with-tb(19, 19 * $lh-xs, 0);
        }

        @include sp {
          display: none;
        }
      }
    }
  }

  // l-main 3column TODO： コンテンツ内に全幅とインナーが入り乱れる対処用、今後どうするか？
  &.r-type03 {
    width: 100%;

    @include pc {
      padding-right: 0;
      padding-left: 0;
    }

    .l-main__content {
      @include sp {
        padding-right: 0;
        padding-left: 0;
      }
    }

    .l-main__inner {
      position:relative;

      @include pc {
        width: 1080px;
        margin-right: auto;
        margin-left: auto;
        padding-right: 20px;
        padding-left: 20px;
      }

      @include sp {
        @include vw(padding-right, 40);
        @include vw(padding-left, 40);
      }
    }
  }
}

// TODO： 記載場所ここでいいのか？
.l-pagetop {
  > a {
    @include pc {
    }
    @include sp {
    }
  }
}

// 隣接
.l-breadcrumb + .l-main {
  @include pc {
    margin-top: 40px;
  }
}

