.l-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @include pc {
  }
}

// TODO： 記載場所ここでいいのか？
.l-pagetop {
  > a {
    @include pc {
    }
    @include sp {
    }
  }
}

// 隣接
.l-breadcrumb + .l-main {
  @include pc {
    margin-top: 40px;
  }
}

